after/ftplugin/*.lua
lua/
lua/user/init.lua
lua/user/plugins.lua
plugin/packer_compiled.lua
# there's some commands and functions related to co authors at work. So ignoring that for privacy's sake
after/ftplugin/gitcommit.* 
